// Custom styles.
// 文章内链接文本样式
.post-body p a{
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

// 鼠标样式
* {
  cursor: url("http://om8u46rmb.bkt.clouddn.com/sword2.ico"),auto!important
}
:active {
  cursor: url("http://om8u46rmb.bkt.clouddn.com/sword1.ico"),auto!important
}

// 网站标题栏背景颜色
.site-meta {
  background: #362e2a; //修改为自己喜欢的颜色
}
